.movie{
    width: 45%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 50px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);;
    transition: transform 2s;
    font-weight: 100;
    padding: 20px;
    
}
.movie img{
    position: relative;
    max-width: 150px;
}
.title {
    margin-bottom: 5px;
    font-size: 24px;
    color: #2c2c2c;
  }

.movie:hover{
    transform: scale(1.03);
}
.movie_{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.genres li:nth-child(n+4){
    display: none;
}
.summary{
    text-align: center;
}