*{
    box-sizing: border-box;
}

body{
    margin-top: 30px;
    margin-right:50px;
    padding: 0;
    padding-left: 50px;
    background-color: #cad4d6;
    height: 100%;
}

.load_container{
    font-style: oblique;
    font-size: large;
}
.movies{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
